/*
 * Copyright (c) 2025 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */
/ {
	chosen {
		ncs,zigbee-timer = &timer2;
	};

	/*https://academy.nordicsemi.com/?nds_version_content=nrf-connect-sdk-fundamentals-lesson-2-gpio-generic-api-v3-2-0-v3-0-0*/
	/* Define a container for your binary sensors */
	binary_sensors {
		compatible = "gpio-keys";

		/* Sensor 1 definition */
		sensor_zero: sensor_0 {
			gpios = <&gpio1 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Alarm state";
			status = "okay";
		};

		sensor_one: sensor_1 {
			gpios = <&gpio1 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Nord state";
			status = "okay";
		};

		sensor_two: sensor_2 {
			gpios = <&gpio1 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Sud state";
			status = "okay";
		};

		sensor_three: sensor_3 {
			gpios = <&gpio1 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Internal state";
			status = "okay";
		};
	};

	/*buttons {
		compatible = "gpio-keys";

		reset_button: button_0 {
			gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
			label = "Reset button";
			status = "okay";
		};

	};*/

	leds {
		compatible = "gpio-leds";

		led_zero: led_0 {
			gpios = <&gpio0 05 GPIO_ACTIVE_HIGH>;
			label = "Enable voltage divider";
			status = "okay";
		};

		led_blue: led_1 {
			gpios = <&gpio0 06 GPIO_ACTIVE_LOW>;
			label = "Blue led";
			status = "okay";
		};

		led_green: led_2 {
			gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
			label = "Green led";
			status = "okay";
		};

		led_red: led_3 {
			gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
			label = "Red led";
			status = "okay";
		};
	};

	/*ADC config https://academy.nordicsemi.com/courses/nrf-connect-sdk-intermediate/lessons/lesson-6-analog-to-digital-converter-adc/topic/exercise-1-interfacing-with-adc-using-zephyr-api/*/
	zephyr,user {
		io-channels = <&adc 0>;
	};

    /* Optional: Create aliases for easy access in your C code */
    aliases {
        alarmstate = &sensor_zero;
	nordstate = &sensor_one;
	sudstate = &sensor_two;
	internalstate = &sensor_three;
	voltageread = &led_zero;
	ledblue = &led_blue;
	ledgreen = &led_green;
	ledred = &led_red;
	//reset-button = &reset_button;
    };

};

&timer2 {
	status = "okay";
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6"; //Max input voltage = reference / Gain = 0.6 / (1/6) = 3.6V
		zephyr,reference = "ADC_REF_INTERNAL"; //-> +0.6
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN0>; // P0.02 for nRF52xx, P0.04 for nRF5340
		zephyr,resolution = <12>;
	};
};
